<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Compressor++ </title>
        <style>
            html{
                font-family: IBM Plex Mono,monospace;
                background: #232840;
            }
            form:hover, h1:hover, h2:hover, p:hover, h3:hover, a:hover {
                outline-width: 0;
                /* position: relative; */
                text-shadow: 0 2px 10px rgba(246,73,167,.9);
            }
            form, h1, h2, p, a {
                color:#f649a7;
                text-decoration: none;
                font-weight: 800;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease-in;
                transition-delay: 0s;
                background-color: transparent;
            }

            h3 {
                color:#e3d373;
                text-decoration: none;
                font-weight: 800;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease-in;
                transition-delay: 0s;
                background-color: transparent;
            }

        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="application/javascript">
            $(document).ready(function() {
                function WebSocketTest() {            
                    if ("WebSocket" in window) {
                        var ws_stomp_display = new SockJS('http://152.118.148.95:15674/stomp');
                        var client_display = Stomp.over(ws_stomp_display);
                        var mq_queue_display = "/exchange/1706028676/{{ .RandomToken }}";
                        var on_message_display = function(m) {
                            console.log('message received');
                            console.log(m.body);
                            console.log()
                            handle(JSON.parse(m.body));
                        };
                        var on_connect_display = function() {
                            console.log('connected');
                            client_display.subscribe(mq_queue_display, on_message_display);
                        };
                        var on_error_display =  function(e) {
                            console.log('error');
                        };
                        
                        client_display.connect('0806444524', '0806444524', on_connect_display, on_error_display, '/0806444524');
                        client_display
                    } else {
                        // The browser doesn't support WebSocket
                        alert("WebSocket NOT supported by your Browser!");
                    }
                }
    
                function handle(p) {
                    if(p['url']) {
                        $('#url-text').attr("href", p['url']);
                        $('#url-text').text(p['url']);
                        $('#url').show();
                        return;
                    }
                    $('#status-text').text(p['status']);
                }
    
                $('#url').hide();
                WebSocketTest();
    
    
            });
        </script>
    </head>
    <body>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div>
                <h1>Compressor++ <em>by nͫiͤcͫeͤ.</em> </h1>
                <div id="status">
                    <h3>Status:</h3>
                    <p id="status-text"></p>
                </div>
                <br>
                <div id="url">
                    <h3>URL :</h3>
                    <a id="url-text"></a>
                </div>
            </div>
        </div>
    </body>
</html>